doctype html
html.
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>GetHired</title>
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
        <link href="stylesheets/lightbox.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="javascripts/jquery.js"></script>
        <script type="text/javascript" src="javascripts/ui.js"></script>
        <script type="text/javascript" src="javascripts/easing.js"></script>
        <script type="text/javascript" src="javascripts/jcarousel.js"></script>
        <script type="text/javascript" src="javascripts/lightbox.js"></script>

        <!--this is the javascript file that builds the jquery based functions  -->
        <script type="text/javascript" src="javascripts/fusion_settings.js"></script>
    </head>

      <body>
      <div id="container">
          <h1>GetHired</h1>
        <hr/>
        <hr/>
        <div id="rightBox">
          <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/black-inlay-crystal-clear-bubble-icons-business/077373-black-inlay-crystal-clear-bubble-icon-business-robot.png">
        </div>
        <div id="leftBox">
          <div id="expandingContainer">

          <div class="contentBox">
            <h2 class="selected" id="hWelcome"><span>Welcome</span></h2><!-- span is to hide the text, which are replaced with image text -->
            <div class="content" id="welcome">
              <p class="intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa <span class="yellow">quae ab illo</span> inventore veritatis et quasi. </p>
              <p>Aenean <a href="#">commodo</a> ligula eget dolor. </p>
              <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean massa.</p>
            </div><!-- end of .content -->
          </div><!-- end of .contentBox -->

          <div class="contentBox">
            <h2 id="hServices"><span>Services</span></h2>
            <div class="content">
              <p class="intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. </p>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. </p>
              <p>Aenean commodo ligula eget dolor. <span class="yellow">Aenean massa</span>. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              <p>Architecto beatae vitae dicta sunt explicabo.</p>
            </div><!-- end of .content -->
          </div><!-- end of .contentBox -->


          </div><!-- end of expandingContainer -->

          <hr/>
          <div id="footer">
            <p>Lorem Ipsum St. Dolor S. Ave.  34257 - NY</p>
            <p>1 55 255 314</p>
            <p>info@email.com</p>
          </div><!-- end of #footer -->

        </div><!-- end of #leftBox -->
      </div><!-- end of #container -->
      </body>
    </html>
