doctype html
html.
    <html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Practice</title>

    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/lightbox.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/ui.js"></script>
    <script type="text/javascript" src="/javascripts/easing.js"></script>
    <script type="text/javascript" src="/javascripts/jcarousel.js"></script>
    <script type="text/javascript" src="/javascripts/lightbox.js"></script>

    <!--this is the javascript file that builds the jquery based functions  -->
    <script type="text/javascript" src="/javascripts/fusion_settings.js"></script>

    </head>

    <body>
    <div id="container">
      <h1>GetHired</h1>
      <hr>

      <div id="rightBox">
        <h2>Works</h2>
        <div id="digitalWorks">
          <h3 id="digital">Digital</h3>
          <ul class="workNav" id="dNav"><!-- #dNav refers to digital works nav -->
            <li><a class="prev" href="#">Previous</a></li>
            <li><a class="next" href="#">Next</a></li>
          </ul>
          <div class="imageContainer" id="digitalImages" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 405px;">
          <ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; width: 2025px; left: -1620px;"><li style="overflow: hidden; float: left; width: 405px; height: 163px;"><a href="images/works/sample_5.jpg"><img src="images/works/sample_5_thumb.jpg" width="405" height="160" alt="" style="opacity: 0.7;"></a></li>
          <!-- image for work1 -->
          <li style="overflow: hidden; float: left; width: 405px; height: 163px;"><a href="images/works/sample_1.jpg"><img src="images/works/sample_1_thumb.jpg" width="405" height="160" alt="" style="opacity: 0.7;"></a></li>
          <!-- image for work2 -->
          <li style="overflow: hidden; float: left; width: 405px; height: 163px;"><a href="images/works/sample_3.jpg"><img src="images/works/sample_3_thumb.jpg" width="405" height="160" alt="" style="opacity: 0.7;"></a></li>
          <!-- image for work3 -->
          <li style="overflow: hidden; float: left; width: 405px; height: 163px;"><a href="images/works/sample_5.jpg"><img src="images/works/sample_5_thumb.jpg" width="405" height="160" alt="" style="opacity: 0.7;"></a></li>
          <li style="overflow: hidden; float: left; width: 405px; height: 163px;"><a href="images/works/sample_1.jpg"><img src="images/works/sample_1_thumb.jpg" width="405" height="160" alt="" style="opacity: 0.7;"></a></li></ul>
          </div>

          <div class="infoContainer" id="digitalInfos" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; height: 40px;">
          <ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; height: 200px; top: -160px;"><li style="overflow: hidden; float: none; width: 380px; height: 29px;"><span>Blog Action Day</span> <a class="visitLink" href="http://blogactionday.org/">visit</a></li>
        <!-- description for work1 -->
          <li style="overflow: hidden; float: none; width: 380px; height: 29px;"><span>Envato Corporate Website</span> <a class="visitLink" href="http://www.envato.com/">visit</a></li>
        <!-- description for work2 -->
          <li style="overflow: hidden; float: none; width: 380px; height: 29px;"><span>One Page Portfolio Template</span> <a class="visitLink" href="http://www.themeforest.net/item/one-page-portfolio-site-template/17308">visit</a></li>
        <!-- description for work3 -->
          <li style="overflow: hidden; float: none; width: 380px; height: 29px;"><span>Blog Action Day</span> <a class="visitLink" href="http://blogactionday.org/">visit</a></li>
          <li style="overflow: hidden; float: none; width: 380px; height: 29px;"><span>Envato Corporate Website</span> <a class="visitLink" href="http://www.envato.com/">visit</a></li></ul>
          </div>
        </div><!-- end of #digitalWorks -->


        <div id="printWorks">
          <h3 id="print">Print</h3>
          <ul class="workNav" id="pNav"><!-- #pNav refers to print works nav -->
            <li><a class="pprev" href="#">Previous</a></li>
            <li><a class="pnext" href="#">Next</a></li>
          </ul>
          <div class="imageContainer" id="printImages" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 405px;">
          <ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; width: 2025px; left: -405px;"><li style="overflow: hidden; float: left; width: 405px; height: 163px;"><a href="images/works/sample_6.jpg"><img src="images/works/sample_6_thumb.jpg" width="405" height="160" alt="" style="opacity: 0.7;"></a></li>
          <li style="overflow: hidden; float: left; width: 405px; height: 163px;"><a href="images/works/sample_4.jpg"><img src="images/works/sample_4_thumb.jpg" width="405" height="160" alt="" style="opacity: 0.7;"></a></li>
          <li style="overflow: hidden; float: left; width: 405px; height: 163px;"><a href="images/works/sample_2.jpg"><img src="images/works/sample_2_thumb.jpg" width="405" height="160" alt="" style="opacity: 0.7;"></a></li>
          <li style="overflow: hidden; float: left; width: 405px; height: 163px;"><a href="images/works/sample_6.jpg"><img src="images/works/sample_6_thumb.jpg" width="405" height="160" alt="" style="opacity: 0.7;"></a></li>
          <li style="overflow: hidden; float: left; width: 405px; height: 163px;"><a href="images/works/sample_4.jpg"><img src="images/works/sample_4_thumb.jpg" width="405" height="160" alt="" style="opacity: 0.7;"></a></li></ul>
          </div>
          <div class="infoContainer" id="printInfos" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; height: 40px;">
          <ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; height: 200px; top: -40px;"><li style="overflow: hidden; float: none; width: 380px; height: 29px;"><span>VECTORTuts</span> <a class="visitLink viewLink" href="http://www.vectortuts.com/">view</a></li>
          <li style="overflow: hidden; float: none; width: 380px; height: 29px;"><span>NETTuts</span> <a class="visitLink viewLink" href="http://www.nettuts.com/">view</a></li>
          <li style="overflow: hidden; float: none; width: 380px; height: 29px;"><span>PSDTuts</span> <a class="visitLink viewLink" href="http://www.nettuts.com/">view</a></li>
          <li style="overflow: hidden; float: none; width: 380px; height: 29px;"><span>VECTORTuts</span> <a class="visitLink viewLink" href="http://www.vectortuts.com/">view</a></li>
          <li style="overflow: hidden; float: none; width: 380px; height: 29px;"><span>NETTuts</span> <a class="visitLink viewLink" href="http://www.nettuts.com/">view</a></li></ul>
          </div>
        </div><!-- end of #printWorks -->

      </div><!-- end of #rightBox -->
      <hr>
      <div id="leftBox">
        <div id="expandingContainer" class="ui-accordion">

        <div class="contentBox">
        <span class="ui-accordion-left"></span><h2 class="ui-accordion-header" id="hWelcome" tabindex="0"><span>Welcome</span><span class="ui-accordion-right"></span></h2><!-- span is to hide the text, which are replaced with image text -->
        <div class="content" id="welcome" style="height: auto; overflow: hidden; display: none;">
          <p class="intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa <span class="yellow">quae ab illo</span> inventore veritatis et quasi. </p>
          <p>Aenean <a href="#">commodo</a> ligula eget dolor. </p>
          <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean massa.</p>
        </div><!-- end of .content -->
        </div><!-- end of .contentBox -->

        <div class="contentBox selected">
        <span class="ui-accordion-left"></span><h2 id="hServices" class="ui-accordion-header selected" tabindex="0"><span>Services</span><span class="ui-accordion-right"></span></h2>
        <div class="content" style="display: block; height: auto; overflow: hidden;">
          <p class="intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. </p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. </p>
          <p>Aenean commodo ligula eget dolor. <span class="yellow">Aenean massa</span>. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <p>Architecto beatae vitae dicta sunt explicabo.</p>
        </div><!-- end of .content -->
        </div><!-- end of .contentBox -->

        <div class="contentBox">
        <span class="ui-accordion-left"></span><h2 id="hClients" class="ui-accordion-header" tabindex="0"><span>Clients</span><span class="ui-accordion-right"></span></h2>
        <div class="content" style="display: none; height: auto; overflow: hidden;">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. </p>
          <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <p>Architecto beatae vitae dicta sunt explicabo.</p>
        </div><!-- end of .content -->
        </div><!-- end of .contentBox -->

        <div class="contentBox">
      <span class="ui-accordion-left"></span><h2 id="hContact" class="ui-accordion-header" tabindex="0"><span>Contact</span><span class="ui-accordion-right"></span></h2>
        <div class="content" id="contact" style="display: none; height: auto; overflow: hidden;">
        <p class="fLeft">Your Name:<br>
          <label class="smallInput">
            <input name="textfield" type="text" size="15">
          </label>
        </p>
        <p class="fLeft">Your Email:<br>
          <label class="smallInput">
            <input name="textfield" type="text" size="15">
          </label>
        </p>
        <p class="textarea">Your Message<br>
          <label class="textarea">
            <textarea name="textfield4" rows="6" cols="40"></textarea>
          </label>
        </p>
        <p>
        <input type="submit" value="Send">
        </p>
        </div><!-- end of .content -->
        </div><!-- end of .contentBox -->

        </div><!-- end of expandingContainer -->

        <hr>

        <div id="footer">
          <p>Lorem Ipsum St. Dolor S. Ave.  34257 - NY</p>
          <p>1 55 255 314</p>
          <p>info@fusiontemplate.com</p>
        </div><!-- end of #footer -->

      </div><!-- end of #leftBox -->
    </div><!-- end of #container -->


    </body></html>
